QPushButton#calcButton {
	color: #fff;
    background-color: green;
}

QSplitter::handle {
    background-color: rgba(128, 128, 128, 128);
    image: url(splitter.png);
}
QSplitter::handle:pressed {
    image: url(splitter_pressed.png);
}
